@charset "UTF-8";

.swagger-ui .opblock-tag {
    font-size: 26px;
    margin: 0 0 5px;
    font-family: sans-serif;
    color: #3b4151;
}

.swagger-ui .renderedMarkdown p {
    margin: 0 auto 1em;
    line-height: 1.4em;
}

.swagger-ui .renderedMarkdown code {
    padding: 1px 4px;
}
