@page "/about"

<h1>About</h1>

<p>This page is powered by the 
    <a href="https://fourthdown.azurewebsites.net/" target="_blank">ForuthDown API</a>.</p>

<p>Feel free to reach out or read about some of my other work on my 
    <a href="http://pratikthanki.github.io/" target="_blank">blog</a>.</p>
